<h1>Dogs</h1>
<p><%= link_to 'Add Dog', new_dog_path %></p>
<% @dogs.each do |dog| %>
  <h2><%= dog.name %></h2>
  <%= link_to 'Go to Dog', dog_path(dog) %>
  <%= link_to 'Edit Dog', edit_dog_path(dog) %>
  <%= link_to 'Remove Dog', dog, method: :delete %>
<% end %>
<p>
<%= link_to 'Return Home', root_path %>
</p>
