<h1><%= @dog.name %></h1>
<h5>Age: <%= @dog.age %><h5>
<h5>Breed: <%= @dog.breed %><h5>
<h5>Color: <%= @dog.color %><h5>
<%= link_to 'Edit Dog', edit_dog_path %>
<%= link_to 'Remove Dog', @dog.itself, method: :delete %>
<%= link_to 'Back', dogs_path %>

