<p>
<%= link_to 'Home', root_path %>
<%= link_to 'Person Index', people_path %>
<%= link_to 'Add Person', new_person_path %>
<%= link_to 'Dog Index', dogs_path %>
<%= link_to 'Add Dog', new_dog_path %>
<hr>
</p>